body{
  background-color: #eee;

}
.main{
  margin:auto;
  margin-top: 20px;
  width : 900px;
}

p{
  margin: 10px;
  width: 100px;

}

button{
  margin: 10px;


}

input{
  margin:10px;
  width : 300px;
}
